* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(222, 222, 222, 0.952);
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background: rgba(0, 0, 0, 0.281);
  padding: 20px;
}

.mainSpace {
  border: 2px solid black;
  background-color: white;
  padding: 50px;
}
.calculator input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: transparent;
  font-size: 28px;
  cursor: pointer;
  margin: 8px;
}

.buttons {
  color: black;
}
/* .result {
  background-color: rgba(83, 83, 83, 0.575);
} */
input.button {
  color: orangered;
}
.display {
  display: flex;
  justify-content: flex-end;
  margin: 18px o;
  border: 1px solid white;
}
.display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}
