<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>Calculator USing Angular</title>
  </head>
  <body>
    <div class="container">
      <div class="mainSpace">
        <div class="calculator">
          <div class="display">
            <input type="text" [(ngModel)]="input" />
          </div>
          <div>
            <input type="button" value="OFF" class="buttons" (click)="off()" />
            <input
              type="button"
              value="7"
              class="buttons"
              (click)="display('7')"
            />
            <input
              type="button"
              value="8"
              class="buttons"
              (click)="display('8')"
            />
            <input
              type="button"
              value="9"
              class="buttons"
              (click)="display('9')"
            />
            <input
              type="button"
              value="/"
              class="buttons"
              (click)="display('/')"
            />
          </div>
          <div>
            <input
              type="button"
              value="%"
              class="buttons"
              (click)="display('%')"
            />
            <input
              type="button"
              value="4"
              class="buttons"
              (click)="display('4')"
            />
            <input
              type="button"
              value="5"
              class="buttons"
              (click)="display('5')"
            />
            <input
              type="button"
              value="6"
              class="buttons"
              (click)="display('6')"
            />
            <input
              type="button"
              value="*"
              class="buttons"
              (click)="display('*')"
            />
          </div>
          <div>
            <input type="button" value="C" class="button" (click)="reset()" />
            <input
              type="button"
              value="1"
              class="buttons"
              (click)="display('1')"
            />
            <input
              type="button"
              value="2"
              class="buttons"
              (click)="display('2')"
            />
            <input
              type="button"
              value="3"
              class="buttons"
              (click)="display('3')"
            />
            <input
              type="button"
              value="-"
              class="buttons"
              (click)="display('-')"
            />
          </div>
          <div>
            <input
              type="button"
              value="DEL"
              class="button"
              (click)="delete()"
            />
            <input
              type="button"
              value="0"
              class="buttons"
              (click)="display('0')"
            />
            <input
              type="button"
              value="."
              class="buttons"
              (click)="display('.')"
            />
            <input
              type="button"
              value="="
              class="buttons"
              (click)="getAnswer()"
            />
            <input
              type="button"
              value="+"
              class="buttons"
              (click)="display('+')"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<router-outlet></router-outlet>
